<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.example.controller.BookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByBookCodeServlet</servlet-name>
        <servlet-class>com.example.controller.SearchByBookCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByBookNameServlet</servlet-name>
        <servlet-class>com.example.controller.SearchByBookNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBookServlet</servlet-name>
        <servlet-class>com.example.controller.DetailBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookStatusServlet</servlet-name>
        <servlet-class>com.example.controller.UpdateBookStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByBookCodeServlet</servlet-name>
        <url-pattern>/SearchByBookCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByBookNameServlet</servlet-name>
        <url-pattern>/SearchByBookNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBookServlet</servlet-name>
        <url-pattern>/DetailBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookStatusServlet</servlet-name>
        <url-pattern>/UpdateBookStatusServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
